/* General style */
body {
	--headerColour: indigo;
	--mainText: Black;
	--headerText: White;
	--backgroundColour: White;
	--backgroundAltColour: powderblue;
	--headingBackgroundColour: mediumpurple;
	--unvisitedHyperlink: Blue;
	--clickedLinks: indigo ;
	--activeHyperlink: Red;
	
	font-family: Trebuchet, sans-serif;
	text-align: justify;
  font-size:18px;

	margin: 0;
	color: var(--mainText);
	max-width: 80vw;
	margin: 0px auto;
	background-color: var(--backgroundColour);
}

div.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 1em;
}

/* Header style */
header {
	text-align: center;
	text-transform: capitalize;
	background-color: var(--headerColour);
	
	width: 100%;
	position: relative;
	
	padding: 1em 0em 1em 0em;
	margin:0;
}

header h1 {
  margin: 0; 
	color: var(--headerText);
}

/*prev powderblue */
h2 {
  background-color: var(--headingBackgroundColour);
  text-align:center;
}

h3 {
  color: var(--headerColour);
  text-align: left;
}

.fullfig {
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  background-color: var(--backgroundColour);
  padding: 1em;
}

.wrapfig {
  float: left;
  margin-right: 15px;
  border-radius: 5px;
  background-color: var(--backgroundColour);
  padding: 1em;
}

.cleared {
  clear: left;
}

.projgrid {
  display:flex;
  flex-wrap:wrap;
}

.projprop {
  color: darkorchid;
  font-size:16px;
  list-style:none;
}

.box {
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}

.projbox {
  display: flex;
  align-items: flex-start;
  height:max-content;
  width:80vw;
  margin: 10px;
  padding: 25px;
  background-color: var(--backgroundColour);
  border: 5px solid indigo;
  border-radius: 10px;
}

.biobox {
  display: flex;
  align-items: flex-start;
  height:max-content;
  margin: 10px;
  padding: 25px;
  background-color: var(--backgroundColour);
}

.projcontent {
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
}

.biocontent {
  height:max-content;
  width:max-content;
  margin: 10px;
  padding: 25px;
  background-color: var(--headerColour);
  color: var(--headerText);
  border-radius: 10px;
}

.biocontent a {
	text-decoration: underline; 
	color: var(--navText);
}
