/* General body style */
body {
  --navButtonCount: 5;

  --mainBack: white;
  --mainAltBack: powderblue;
  --headerBack: indigo;
  --headerAltBack: darkorchid;
  --headingBack: mediumpurple;
  --mainText: black;
  --headerText: white;

  padding: 0;
  margin: 140 0 0 0;
  overflow-x: hidden;
      
  font-family: "Trebuchet", "Open Sans", sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;

  color: var(--mainText);
  background-color: var(--mainBack);
}

/* Header style */
header {
  padding: 0;
  margin: 0;

  position: fixed;
  width: 100%;
  top:0;

  text-align: center;

  background-color: var(--headerBack);
}

header h1 {
  margin: 0;

  text-shadow: 3px 3px 1px var(--headerAltBack);

  color: var(--headerText);
}

/* Nav style */
nav {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top:50px;
  /* display: flex; */

  background-color: var(--headerBack);
}

.nav-flex {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-button {
  padding: 0.5em 0;

  flex: calc(99% / var(--navButtonCount));

  font-weight: bold;
  text-align: center;
}

.nav-button:hover {
  background-color: var(--headerAltBack);
}

nav a{
  text-decoration: none;

  color: var(--headerText);
}
nav a:hover{
  color: var(--headerBack);
}

/* Main content style */
.main{
  font-size: 16px;
}

section{
  margin: 0.5em auto;
  padding: 0;

  width: 90%;
  max-width: 1200px;

  /* border: 5px solid black; */
}

.main-flex {
  margin: 0;

  height:max-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Body-level heading style */
h2 {
  text-align: center;

  background-color: var(--headingBack);
}

h3 {
  margin: 0.5em 0 0 0;

  text-align: left;
  line-height: 1.0;

  color: var(--headerBack);
}

/* List style */
dt {
  color: var(--headerBack);
}

/* Figure and caption style */
figcaption {
  font-size: 14px;
  text-align: center;

  /* border: 5px solid green; */
}

/* figcaption::before {
  counter-increment: figure;
  content: "Figure " counter(figure) " - ";
} */

.fig-box-full {
  padding: 0 1em;
  margin: 0 auto;

  text-align: center;

  /* border: 5px solid red; */
}

.fig-box-full img {
  margin: 0 auto;

  max-width: 95%;
  max-height: 450px;

  /* border: 5px solid blue; */
}

.fig-box-full-tall{
  padding: 0;
  margin: 0 auto;

  max-width: 40%;

  text-align: center;

  /* border: 5px solid red; */
}

.fig-box-full-tall img {
  margin: 0 auto;

  max-width: 95%;
  max-height: 550px;
  object-fit: scale-down;

  /* border: 5px solid blue; */
}

.fig-wrap-text-tall {
  padding: 10px;
  min-width: 40%;
  max-width: 100%;
  /* border: 5px solid blue; */
}

.fig-flex {
  padding: 0;
  margin: 0 auto;

  height: max-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-end;

  /* border: 5px solid cyan; */
}

.fig-box-partial{
  padding: 0;
  margin: 0 auto;

  min-width: 250px;
  max-height: 500px;

  text-align: center;
  /* border: 5px solid red; */
}

.fig-box-partial img {
  margin: 0 auto;

  max-width: 95%;
  max-height: 350px;

  /* border: 5px solid blue; */
}

.fig-flex .fig-box-partial {
  max-width: 49%;
}

.fig-wrap-text {
  padding: 10px;
  min-width: 30%;
  /* border: 5px solid blue; */
}

.fig-left {
  float: left;
  padding: 0.5em 1em;
  margin-right: 25px;

  max-width: 45%;
  border: 5px solid red;
}

.fig-right {
  float: right;
  padding: 0.5em 1em;
  margin-left: 25px;

  max-width: 45%;
  border: 5px solid red;
}
.fig-right img{max-width:100%;}

/* .cleared {
  clear: both;
} */

/* Bio style */
.bio-box {
  padding: 0;
  margin: auto auto;

  min-width: 10vw;
}
  
.contact-list {
  padding: 10px 20px;
  margin: 0;

  height:max-content;
  width:max-content;

  background-color: var(--headerBack);
  color: var(--headerText);
  border-radius: 10px;
}

.contact-list a {
    color: var(--navText);
}

/* Project style */
.proj-wrapper {
  margin: 0;
  padding: 1em;

  height:max-content;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
  border: 5px solid indigo;
  border-radius: 10px;
}

.proj-prop {
  list-style: none;
  color: var(--mainText);
}

.proj-prop strong {
  color: var(--headerBack);
}

.proj-prop a {
  color: var(--headerBack);
}

/* .projgrid {
  display:flex;
  flex-wrap:wrap;
} */

/* .box {
  padding: 25px;
  margin: 10px;

  width: 350px;
  height: 150px;

  border: 5px solid black;
} */

/* .projcontent {
  padding: 25px;
  margin: 10px;

  width: 350px;
  height: 150px;
} */